.map{
    height: 500px !important;
    background-color: white !important;
    padding: 1rem !important;
    border-radius: 20px !important;
    margin-top: 16px !important;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5) !important;
  }
  
  .map .leaflet-container {
    height: 100% !important;
    border-radius: 12px !important;
  }