.home__title{
    text-align: center;
    font-family: 'Black And White Picture', sans-serif;
    font-size: 6rem
}

.home__layout{
    display: flex;
}

.home__layoutLeft{
    flex: 1
}

.home__layoutRight{
    flex: 0
}